body{
	position: relative;
}
.btn-orange-tkj{
	background: #E13E00;
}
.btn-orange-tkj:focus{
	background: #C63500;
	box-shadow: 0 0 0 0.25rem #E13E00 !important;
}
.tkj-jumbotron{
	display: flex;
	height: 300px;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}
.tkj-brand h1{
	font-family: arial;
	font-weight: 600;
	font-style: oblique;
	font-size: 5em;
	line-height: .8;
	margin: 0;
	transform: skewY(-2deg);
}
.tkj-brand a{
	text-decoration: none;
	color: #fff;
	position: relative;
	display: block;
}
.tkj-brand a h1:hover{
	text-shadow: 0px 0px 0px rgba(225, 62, 0, 1.0);
	transition: .3s;
}
.text-shadow-orange{
	text-shadow: 4px 4px 0px rgba(225, 62, 0, 1.0);
}
.tkj-brand p{
	position: absolute;
	bottom: -24px;
	right: 0;
	padding: 0px 10px;
	font-weight: 600;
	font-size: 1.5em !important;
	word-wrap: nowrap;
	background: rgba(225, 62, 0, 1.0);
	box-shadow: 4px 4px 0px rgba(225, 255, 255, 1.0);
}
.tkj-brand h1{
	position: relative;
}
.github-pages{
	position: absolute;
	top: 0;
	right: 50%;
	font-size: 20px !important;
}
.pad-1{
	padding-top: 30px;
	padding-bottom: 30px;
}
nav ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li{
	display: inline-block;
	margin: 0 5px;
}
nav li a{
	display: block;
	width: 100%;
	padding: 10px 20px;
	background: #FFFFFF;
	color: #000000;
	text-decoration: none;
}
nav li a:hover{
	color: #E13E00;
	box-shadow: 4px 4px 0px #E13E00;
	transition: .3s;
}
.active{
	box-shadow: 4px 4px 0px #E13E00;
}
main{
	padding: 70px 120px 30px 120px;
}
article .page-title{
	margin-bottom: 20px;
}
.page-title{
	font-family: monospace;
}
article p{
	font-family: monospace;
}
.preview{
	padding-top: 50px;
}
.preview-title{
	border-bottom: 1px solid #333;
	padding-bottom: 15px;
}
.preview-images img{
	width: 100%;
}
.preview-images{
	padding-top: 20px;
	padding-left: 20px;
}
.preview-images h6{
	margin-top: 20px;
}
.preview-images-phone{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.preview-images-phone img{
	width: 25%;
}
.dev-contribute{
	padding: 50px 0;
}
.dev-contribute img{
	width: 60%;
	display: block;
	margin: auto;
}
blockquote{
	opacity: .7;
	padding: 50px 0;
}
blockquote q{
	font-size: 60px;
	padding: 0;
	margin: 0;
	line-height: 1;
	font-family: Times New Roman;
	position: relative;
}
blockquote q::before{
	position: absolute;
	top: -75px;
	left: -64px;
	font-size: 300px;
	color: #565656;
}
blockquote q::after{
	display: none;
}
blockquote q p{
	font-style: oblique;
	font-size: 20px;
}
.download-link{
	padding: 40px 0;
}
.floating-madein-indonesia{
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.home-description{
	background: #16191C;
	border-radius: 10px;
	padding: 20px;
	font-family: monospace;
}
.greetings{
	border-bottom: 1px solid #333;
	margin-bottom: 18px;
}
footer a{
	display: block;
	text-decoration: none;
	color: #545454;
}
footer a:hover{
	color: #FFFF;
}
@media (max-width: 600px){
	.preview-images{
		padding: 0;
	}
	.preview-images-phone{
		display: block;
		width: 100%;
	}
	.preview-images-phone img{
		width: 100%;
		margin: 5px 0;
	}
	main{
		padding: 70px 28px 30px 28px;
	}
	.tkj-brand h1{
		font-size: 3em;
		line-height: 1;
	}
	.tkj-brand p{
		position: absolute;
		bottom: -10px;
		right: 0;
		padding: 0px 10px;
		font-weight: 600;
		font-size: 1em !important;
		word-wrap: nowrap;
		background: rgba(225, 62, 0, 1.0);
	}
}
